<div id="banner">
	<div class="outline"></div>

	<img class="hero" src="./images/hero.jpg" inline/>
	<img class="retina" src="./images/logo.png" inline/>

	<div class="frame frame1">	
		<img class="retina mask t1 t1a" src="./images/t1a.png" inline/>
		<img class="retina mask t1 t1b" src="./images/t1b.png" inline/>
		<img class="retina mask t1 t1c" src="./images/t1c.png" inline/>
		<img class="retina mask t1 t1d" src="./images/t1d.png" inline/>
	</div>

	<div class="frame frame2">			
		<img class="beam beam_a a1" src="./images/a1.png" inline/>
		<img class="beam beam_b b1" src="./images/b1.png" inline/>
		<img class="beam beam_a a2" src="./images/a2.png" inline/>
		<img class="beam beam_b b2" src="./images/b2.png" inline/>
		<img class="beam beam_a a3" src="./images/a3.png" inline/>
		<img class="beam beam_b b3" src="./images/b3.png" inline/>
		<img class="beam beam_a a4" src="./images/a4.png" inline/>
		<img class="beam beam_b b4" src="./images/b4.png" inline/>
		<img class="beam beam_a a5" src="./images/a5.png" inline/>
		<img class="beam beam_b b5" src="./images/b5.png" inline/>
		<img class="beam beam_a a6" src="./images/a6.png" inline/>
		<img class="beam beam_b b6" src="./images/b6.png" inline/>
		<img class="beam beam_a a7" src="./images/a7.png" inline/>
		<img class="beam beam_b b7" src="./images/b7.png" inline/>		
		<img class="beam beam_a a8" src="./images/a8.png" inline/>
		<img class="beam beam_b b8" src="./images/b8.png" inline/>
		<img class="beam beam_a a9" src="./images/a9.png" inline/>
		<img class="beam beam_b b9" src="./images/b9.png" inline/>
		<img class="beam beam_a a10" src="./images/a10.png" inline/>
		<img class="beam beam_b b10" src="./images/b10.png" inline/>

		<img class="beam beam_a a11" src="./images/a11.png" inline/>
		<img class="beam beam_b b11" src="./images/b11.png" inline/>

		<img class="beam beam_a a12" src="./images/a12.png" inline/>
		<img class="beam beam_b b12" src="./images/b12.png" inline/>
		<img class="beam beam_a a13" src="./images/a13.png" inline/>
		<img class="beam beam_b b13" src="./images/b13.png" inline/>
		<img class="beam beam_a a14" src="./images/a14.png" inline/>
		<img class="beam beam_b b14" src="./images/b14.png" inline/>
		<img class="beam beam_a a15" src="./images/a15.png" inline/>
		<img class="beam beam_b b15" src="./images/b15.png" inline/>
		<img class="beam beam_a a16" src="./images/a16.png" inline/>
		<img class="beam beam_b b16" src="./images/b16.png" inline/>
		<img class="beam beam_a a17" src="./images/a17.png" inline/>
		<img class="beam beam_b b17" src="./images/b17.png" inline/>
		<img class="beam beam_a a18" src="./images/a18.png" inline/>
	<img class="beam beam_b b18" src="./images/b18.png" inline/>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</div>

	<div class="frame frame3">
		
		 <img class="dot blue c1" src="./images/c1.png" inline/>
		<img class="dot red c2" src="./images/c2.png" inline/>
		<img class="dot blue c3" src="./images/c3.png" inline/>
		<img class="dot red c4" src="./images/c4.png" inline/>
		<img class="dot blue c5" src="./images/c5.png" inline/>
		<img class="dot red c6" src="./images/c6.png" inline/>
		<img class="dot blue c7" src="./images/c7.png" inline/>
		<img class="dot red c8" src="./images/c8.png" inline/>
		<img class="dot blue c9" src="./images/c9.png" inline/>
		<img class="dot red c10" src="./images/c10.png" inline/>
		<img class="dot blue c11" src="./images/c11.png" inline/>
		<img class="dot red c12" src="./images/c12.png" inline/>
		<img class="dot blue c13" src="./images/c13.png" inline/>
		<img class="dot red c14" src="./images/c14.png" inline/>
		<img class="dot blue c15" src="./images/c15.png" inline/>		 
		

		<div class="ringMaster">
			<img class="ring red r1" src="./images/r1.png" inline/>		
			<img class="ring blue r2" src="./images/r2.png" inline/>		
			<img class="ring red r3" src="./images/r3.png" inline/>		
			<img class="ring blue r4" src="./images/r4.png" inline/>		
			<img class="ring red r5" src="./images/r5.png" inline/>		
			<img class="ring blue r6" src="./images/r6.png" inline/>		
			<img class="ring red r7" src="./images/r7.png" inline/>		
			<img class="ring blue r8" src="./images/r8.png" inline/>		
			<img class="ring red r9" src="./images/r9.png" inline/>		
			<img class="ring blue r10" src="./images/r10.png" inline/>	
			<img class="ring red r11" src="./images/r11.png" inline/>	
			<img class="ring blue r12" src="./images/r12.png" inline/>	

			<img class="ring red r13" src="./images/r13.png" inline/>	
			<img class="ring blue r14" src="./images/r14.png" inline/>	

			<img class="ring red r15" src="./images/r15.png" inline/>	
			<img class="ring blue r16" src="./images/r16.png" inline/>	

		</div>



		<img class="retina mask t2 t2a" src="./images/t2a.png" inline/>
		<img class="retina mask t2 t2b" src="./images/t2b.png" inline/>
		<div class="line"></div>


		<img class="retina cta" src="./images/cta.png" inline/>
		
	</div>
	<div class="frame frame4">
		
	</div>
</div>