<div id="banner">
	<div class="outline"></div>

	<img class="hero" src="./images/hero.jpg" inline/>
	<img class="retina" src="./images/logo.png" inline/>
	<!-- <img class="framer" src="./images/f3.png" inline/> -->

	<div class="frame frame1">	
		
		<div class="beamHolder">
			
			<img class="beam beam_aa a1" src="./images/a1.png" inline/>
			<img class="beam beam_bb b1" src="./images/b1.png" inline/>
			<img class="beam beam_aa a2" src="./images/a2.png" inline/>
			<img class="beam beam_bb b2" src="./images/b2.png" inline/>
			<img class="beam beam_aa a3" src="./images/a3.png" inline/>
			<img class="beam beam_bb b3" src="./images/b3.png" inline/>
			<img class="beam beam_aa a4" src="./images/a4.png" inline/>
			<img class="beam beam_bb b4" src="./images/b4.png" inline/>


			<img class="beam beam_a beam_aa a5" src="./images/a5.png" inline/>
			<img class="beam beam_b beam_bb b5" src="./images/b5.png" inline/>
			<img class="beam beam_a beam_aa a6" src="./images/a6.png" inline/>
			<img class="beam beam_b beam_bb b6" src="./images/b6.png" inline/>
			<img class="beam beam_a beam_aa a7" src="./images/a7.png" inline/>
			<img class="beam beam_b beam_bb b7" src="./images/b7.png" inline/>		
			<img class="beam beam_a beam_aa a8" src="./images/a8.png" inline/>
			<img class="beam beam_b beam_bb b8" src="./images/b8.png" inline/>
			<img class="beam beam_a beam_aa a9" src="./images/a9.png" inline/>
			<img class="beam beam_b beam_bb b9" src="./images/b9.png" inline/>
			<img class="beam beam_a beam_aa a10" src="./images/a10.png" inline/>
			<img class="beam beam_b beam_bb b10" src="./images/b10.png" inline/>

			<img class="beam beam_a beam_aa a11" src="./images/a11.png" inline/>
			<img class="beam beam_b beam_bb b11" src="./images/b11.png" inline/>

			<img class="beam beam_a beam_aa a12" src="./images/a12.png" inline/>
			<img class="beam beam_b beam_bb b12" src="./images/b12.png" inline/>
			<img class="beam beam_a beam_aa a13" src="./images/a13.png" inline/>
			<img class="beam beam_b beam_bb b13" src="./images/b13.png" inline/>
			<img class="beam beam_a beam_aa a14" src="./images/a14.png" inline/>
			<img class="beam beam_b beam_bb b14" src="./images/b14.png" inline/>
			<img class="beam beam_a beam_aa a15" src="./images/a15.png" inline/>
			<img class="beam beam_b beam_bb b15" src="./images/b15.png" inline/>
			<img class="beam beam_a beam_aa a16" src="./images/a16.png" inline/>
			<img class="beam beam_b beam_bb b16" src="./images/b16.png" inline/>
			<img class="beam beam_a beam_aa a17" src="./images/a17.png" inline/>
			<img class="beam beam_b beam_bb b17" src="./images/b17.png" inline/>
			<img class="beam beam_a beam_aa a18" src="./images/a18.png" inline/>
			<img class="beam beam_b beam_bb b18" src="./images/b18.png" inline/>



		</div>

		<img class="retina mask t1 t1a" src="./images/t1a.png" inline/>
		<img class="retina mask t1 t1b" src="./images/t1b.png" inline/>		

		<img class="retina mask t1 t1c" src="./images/t1c.png" inline/>
		<!-- <img class="retina mask t1 t1d" src="./images/t1d.png" inline/>		 -->
			
	</div>

	<div class="frame frame2">
		<img class="retina mask t2 t2a" src="./images/t2a.png" inline/>
		<img class="retina mask t2 t2b" src="./images/t2b.png" inline/>
		<div class="line"></div>
		<img class="retina cta" src="./images/cta.png" inline/>
	</div>
</div>




