<div id="banner">
	<div class="outline"></div>

	<img class="retina" src="./images/hero.jpg" inline/>
	<!-- <img class="retina" src="./images/logo.png" inline/> -->
	<!-- <img class="framer" src="./images/f3.png" inline/> -->

	<div class="frame frame1">	
		<img class="retina mask t1 t1a" src="./images/t1a.png" inline/>
		<img class="retina mask t1 t1b" src="./images/t1b.png" inline/>		
	</div>


</div>