

@import '../../../_common/styles/common.scss';

.frame3{
	// opacity: 1;

	.ringMaster{
		@include pos(-144, -12);
	}
}

.frame2 {
	// opacity: 1;
	.beam{
		@include pos(0, 0);
	}
	
	
}

.t1, .t2{
		clip: rect(0px 370px 1200px 46px);
	}


.line{
		width: 152px;
		height: 4px;
		background-color: #b51d39;
		@include pos(26, 569);
	}

#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 600px;
}

