

@import '../../../_common/styles/common.scss';

.framer{
	// opacity: .3
}
.beamHolder{
	@include pos-scale(128, -129, 0.49);
}

.frame3{
	// opacity: 1;
}

.frame1{
	// opacity: 1;
}

.frame2 {
	// opacity: 1;
	.beam{
		@include pos(0, 0);
	}
	
	
}

.t1, .t2, .t3{
	clip: rect(0px 450px 100px 0px);
}


.line{
		width: 83px;
		height: 2px;
		background-color: #b51d39;
		@include pos(86, 40);
	}

#banner{
	font-size: 20px;
	color: #333;
	width: 320px;
	height: 50px;
}

